@import "../../../VariableElements/Responsive.scss";
@import "../../../VariableElements/Color.scss";

@font-face {
  font-family: "Roboto";
  src: url(../../../FontFamily/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../../../FontFamily/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../../../FontFamily/Roboto/Roboto-Medium.ttf);
}

.mainPart {
  background: #e0eeff;
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include responsive768 {
    min-height: unset;
    height: 348px;
  }
  @include responsive992 {
    height: 400px;
  }
  @include responsive1440 {
    height: 450px;
  }
  .triangleElement {
    img {
      width: 50px;
      @include responsive992 {
        width: 60px;
      }
      @include responsive1440 {
        width: 70px;
      }
    }
  }
  .textElement {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    @include responsive768 {
      width: 90%;
    }
    p {
      color: $black_color;
      font-family: "RobotoBold";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @include responsive768 {
        width: 50%;
        z-index: 10;
      }
      @include responsive992 {
        font-size: 24px;
      }
      @include responsive1440 {
        width: 60%;
        font-size: 36px;
      }
      strong {
        color: #022b9e;
        font-family: "RobotoBold";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @include responsive992 {
          font-size: 24px;
        }
        @include responsive1440 {
          font-size: 36px;
        }
      }
    }
    article {
      margin-bottom: 19px;
      color: #424242;
      font-family: "Roboto";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.2px;
      @include responsive768 {
        width: 50%;
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
        z-index: 10;
      }
    }
    .orderButton {
      cursor: pointer;
      padding: 12px 30px;
      border-radius: 4px;
      border: 1px solid #022b9e;
      background-color: #022b9e;
      color: $white_color;
      text-decoration: none;
      font-family: "RobotoBold";
      font-size: 14px;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      @include responsive992 {
        font-size: 16px;
        padding: 20px 40px;
      }
      @include responsive1440 {
        font-size: 20px;
      }
    }
  }
  .imageElement {
    .triangleImage {
      position: absolute;
      top: 270px;
      right: 0;
      z-index: 1;
      @include responsive768 {
        top: -100px;
      }
      @include responsive992 {
        top: -240px;
      }
      img {
        width: 300px;
        @include responsive992 {
          width: 700px;
          height: 700px;
        }
        @include responsive1440 {
          width: 820px;
          height: 762px;
        }
      }
    }
    .productsImage {
      position: absolute;
      right: 0;
      bottom: -4px;
      z-index: 2;
      @include responsive768 {
        display: none;
      }
      img {
        width: 320px;
      }
    }
    .productsImage2 {
      display: none;
      @include responsive768 {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }
      img {
        width: 478px;
        @include responsive992 {
          width: 550px;
        }
        @include responsive1440 {
          width: 619px;
        }
      }
    }
  }
}
