@import "../../VariableElements/Responsive.scss";
@import "../../VariableElements/Color.scss";

@font-face {
  font-family: "Roboto";
  src: url(../../FontFamily/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../../FontFamily/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../../FontFamily/Roboto/Roboto-Medium.ttf);
}

.servicesContainer {
  padding: 24px 20px;
  @include responsive768 {
    width: 90%;
    margin: 0 auto;
    padding: 24px 0;
  }
  .textElement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin-bottom: 44px;
    h1 {
      color: #022b9e;
      font-family: "RobotoBold";
      font-size: 16px;
      font-style: normal;
      line-height: 140%;
      letter-spacing: 0.2px;
      @include responsive992 {
        font-size: 24px;
      }
    }
    p {
      color: $black_color;
      font-family: "RobotoMedium";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      max-width: 360px;
      @include responsive992 {
        font-size: 36px;
        max-width: 700px;
      }
    }
    article {
      color: #424242;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.2px;
      @include responsive992 {
        font-size: 16px;
      }
    }
  }
  .servicesCards {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0 auto;
    margin-bottom: 50px;
    @include responsive992 {
      gap: 55px;
    }
    @include responsive1200 {
      width: 1050px;
      gap: 60px;
    }
    @include responsive1440 {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 172px;
    }
    @include responsive1800 {
      width: 1600px;
    }
    li {
      position: relative;
      div {
        width: 280px;
        height: 261px;
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;
        @include responsive1200 {
          width: 300px;
          height: 300px;
          margin-bottom: 10px;
        }
        @include responsive1440 {
          width: 380px;
          height: 375px;
        }
        img {
          width: 100%;
          border-radius: 15px;
          transition: transform 0.3s ease;
          @include responsive1200 {
            height: 300px;
          }
          @include responsive1440 {
            height: 380px;
          }
        }
        &:hover img {
          transform: scale(1.2);
        }
      }
      a {
        position: absolute;
        width: 154px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        background-color: #022b9e;
        color: $white_color;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        font-family: "RobotoMedium";
        font-size: 16px;
        line-height: 110%;
        @include responsive992 {
          bottom: -40px;
          left: 0;
          transform: translateX(0);
          border-radius: 0;
          padding: 0;
          background-color: unset;
          text-align: start;
          color: $black_color;
          font-size: 20px;
        }
      }
    }
  }
}
