@import "../../VariableElements/Color.scss";
@import "../../VariableElements/Responsive.scss";

@font-face {
  font-family: "Roboto";
  src: url(../../FontFamily/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../../FontFamily/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../../FontFamily/Roboto/Roboto-Medium.ttf);
}

.usersContainer {
  @include responsive992 {
    position: absolute;
    top: 30px;
    left: -5px;
    z-index: 100;
  }
  .usersElement {
    list-style: none;
    border-radius: 8px;
    background: #212121;
    display: flex;
    width: 180px;
    flex-direction: column;
    align-items: start;
    .li {
      width: 100%;
      padding: 10px;
      text-decoration: none;
      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      &:hover {
        background-color: rgb(98, 98, 98);
      }
      a {
        color: $white_color;
        font-family: "Roboto";
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
      }
    }
  }
}
